@import '@styles/common.scss';
@import '@styles/theme.scss';

$width-size: 120px;
$height-size: 120px;

.mine-useinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-brand;
  padding: 10Px 20Px 20Px;

  .useinfo-img {
    width: $width-size;
    height: $height-size;
    border-radius: 50%;
  }
  .useinfo-text {
    color: $white;
    font-size: $fontSize-30;
    margin-left: 30px;
  }
}

.mine-grid {
  background-color: $white;

  .content-inner__img {
     height: 60px;
     width: 60px;
  }
  .content-inner__text {
    font-size: $fontSize-26;
  }

}
.mine-atList {
  .item-extra__info {
    font-size: $fontSize-26;
        color: #969799;
  }
}
